@charset 'utf-8';

/* 모바일 용 */
.container { width: 90%;
    max-width: 1132px;
    margin: 0 auto; }

.cfixed:after, .container:after { display: block;
    content:''; clear: both; }

.blind { position: absolute; 
    width: 0; 
    height: 0;
    line-height: 0; 
    text-indent: -99999px;
    overflow: hidden; }

.sec-tit { font-size: 42px;
    color: #3f51b5; 
    font-weight: normal; }

.divider { width: 90%;
    max-width: 1132px;
    margin: 0 auto; 
    margin-top: 77px; 
    background: #eeeeee; }

.m-divider { width: 20px;
    margin: 0 auto; 
    margin-top: 77px; 
    background: #3f51b5; }

/* 헤더 영역 */
.header { position: relative; 
    padding: 18px 5%; }

.header .logo { float: left; }

.header .logo a { font-size: 26px;
    color: #3f51b5;
    font-weight: normal; }

.header .gnb { display: none;
    position: absolute; 
    top: 100%; 
    left: 0;
    width: 100%; 
    background: #3f51b5; }

.header .gnb li { border-bottom: 1px solid #303f9f; }

.header .gnb li a { display: block;
    padding: 14px 0 14px 5%;
    font-size: 14px;
    color: #ffffff; }

.header .menu-toggle-btn { float: right; 
    width: 20px;
    margin-top: 4px;
    cursor: pointer; 
     }

.header .menu-toggle-btn span { background: #3f51b5; 
    display: block;
    width: 100%; 
    height: 2px; }

.header .menu-toggle-btn span:nth-child(2) { margin: 5px 0; }

/* 슬라이드 영역 */
.slider img { display: block; 
    width: 100%; 
    max-width: 100%;
    height: auto;  }

/* 디스플레이 영역 */
.display-section { margin-top: 59px; 
    text-align: center; 
}
.display-section .sec-tit { margin-bottom: 30px; }

.display-section .desc { font-family: 'PT Serif';
    color: #616161;
    line-height: 1.9; }

/* 프로모션 영역 */
.promotion-section { margin-top: 68px; }

.promotion-section .promo-list li { margin-top: 52px;
    text-align: center; }

.promotion-section .promo-list li:first-child {
    margin-top: 0; }

.promotion-section .promo-list li img { height: 52px; }

.promotion-section .promo-list li h3 { margin: 29px 0 20px;
    color: #3f51b5; font-weight: normal; }

.promotion-section .promo-list li p { font-size: 14px;
    font-family: 'PT Serif'; 
    color: #616161; 
    line-height: 1.5; }

/* 최근작업 영역 */
.work-section { margin-top: 73px; }

.work-section .sec-tit { width: 90%; 
    max-width: 1132px;
    margin: 0 auto;
    margin-bottom: 47px;
    text-align: center; } 

.work-section .work-list li { width: 100%; }

.work-section .work-list li a { display: block;
    width: 100%; 
    height: 100%; 
    position: relative; }

.work-section .work-list li a:before { 
    display: block; 
    position: absolute;   
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%; 
    height: 100%;
    background: #3f51b5;
    content: '';
    opacity: 0; 
    transition: all 0.2s; }

.work-section .work-list li a:hover:before {
    opacity: 0.86; }

.work-section .work-list li .info { 
    position: absolute;
    top: 0;
    left: 23px;
    z-index: 20;
    opacity: 0; 
    transition: all 0.3s; }

.work-section .work-list li a:hover .info {
    transform:translateY(23px);
    opacity: 1; }

.work-section .work-list li .info h3 {
    margin-bottom: 8px;
    font-size:23px;
    color: #ffffff;
    font-weight: normal; }

.work-section .work-list li .info span {
    font-size: 11px;
    color: #ffffff; }

.work-section .work-list li img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto; }

/* 최근글 영역 */
.blog-section { margin-top: 77px; }

.blog-section .sec-tit { margin-bottom: 47px;
    text-align: center; }
   
.blog-section .blog-list li { width: 100%;
    margin-top: 45px; }

.blog-section .blog-list li:first-child { 
    margin-top: 0; }

.blog-section .blog-list li img { 
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto; }

.blog-section .blog-list li time { 
    display: block; 
    margin: 11px 0 10px;
    font-size: 11px;
    color: #9e9e9e;   }

.blog-section .blog-list li h3 {
    color: #424242;
    font-weight: normal;
    line-height: 1.6; }

/* 연락처 영역 */
.contact-section { margin-top: 109px;  }

.contact-section .sec-tit { margin-bottom: 47px;
    text-align: center;  }

.contact-section .form-box .form input { 
    padding-bottom: 13px;
    margin-bottom: 38px; }

.contact-section .form-box .textarea textarea { 
    height: 163px; }

.contact-section .form-box .send-btn { 
    margin-top: 36px; 
    text-align: right; }

.contact-section .form-box .send-btn button {
    padding: 15px; 
    margin: 0;
    border: 0; 
    font-size: 12px; 
    color: #ffffff; 
    background: #3f51b5; 
    cursor: pointer; }

/* 푸터 영역 */
.footer { margin-top: 104px; }

.footer iframe { width: 100%; 
    height: 320px; }

.footer p { margin: 21px 0;
    color: #3f51b5; 
    text-align: center; }



/* 태블릿 용 */
@media all and (min-width: 768px) {

/* 기본 */
.divider { margin-top: 124px; }

.m-divider { margin-top: 124px;}

/* 헤더 영역 */
.header { position: static; 
    padding: 28px 52px; }

.header .gnb { display: block !important;
    position: static; 
    float: right; 
    width: auto;
    margin-top: 6px; 
    background: none; }
    
.header .gnb li { float: left; 
    margin-left: 21px;
    border-bottom: 0; }

.header .gnb li a { color: #3f51b5; 
    padding: 0;
    font-size: 16px;  }

.header .menu-toggle-btn { display: none !important;  }

/* 디스플레이 영역 */
.display-section { margin-top: 95px; }

/* 프로모션 영역 */
.promotion-section { margin-top: 110px; }

.promotion-section .promo-list li { float: left; 
    width: 23.046875%; 
    margin-top: 0; 
    margin-left: 2.60416666666667%; }

.promotion-section .promo-list li:first-child {
    margin-left: 0; }

/* 최근 작업 영역 */
.work-section { margin-top: 118px; }

.work-section .sec-tit { margin-bottom: 76px; } 

.work-section .work-list li { float:left;
    width: 50%;  }

.work-section .work-list li .info { left: 37px; }
 
.work-section .work-list li a:hover .info {
    transform: translateY(37px); }

/* 최근글 영역 */
.blog-section { margin-top: 124px; }

.blog-section .sec-tit { margin-bottom: 76px; }

.blog-section .blog-list li { float:left;
    width: 31.59722222222222%;
    margin-left: 2.60416666666667%;
    margin-top: 0; }
/* 242.6666666666667 / 768px  */
/* 768-40(마진 각각 20px)=728, 728/ 3 = 242.6666666666667px */

.blog-section .blog-list li:first-child { 
    margin-left: 0; }

/* 연락처 영역 */
.contact-section { margin-bottom: 176px; }

.contact-section .sec-tit { margin-bottom: 76px; }

.contact-section .form-box .form, 
.contact-section .form-box .textarea { float: left; 
    width: 48.69791666666667%;  }
/* 768px-20px=748px, 748/2=374px, 374px/768px */

.contact-section .form-box .form { margin-right: 2.60416666666667%; }

.contact-section .form-box .form input:last-child { 
    margin-bottom: 0; }

/* 푸터 영역 */
.footer iframe { height: 432px; }

.footer p { margin: 34px 0; }
}




/* pc 용 */
@media all and (min-width:1132px) {

/* 디스플레이 영역 */
.display-section { text-align: left; }

.display-section .sec-tit { float: left;
    margin-bottom: 0; }

.display-section .desc { position: relative;
    float: right;
    padding-left: 20px;
    font-family: 'PT Serif';
    color: #616161;
    line-height: 1.9; }

.display-section .desc:before { content: '';
    display: block; 
    position: absolute; 
    top: 9px;
    left: 0;
    width: 2px;
    height: 44px; 
    background: #e0e0e0; }

/* 프로모션 영역 */
.promotion-section .promo-list li { 
    width: 23.67491166077739% ; 
    margin-left: 1.76678445229682%; }
/* 268px/1132px, 20px/1132px */

/* 최근 작업 영역 */
.work-section .sec-tit { text-align: left;  }

.work-section .work-list li { width: 25%; }

/* 최근 글 영역 */
.blog-section .sec-tit { float: left; 
    margin-bottom: 0; }

.blog-section .blog-list { float: right;
    width: 74.5583038869258%; }

.blog-section .blog-list li { width: 31.75355450236967%;  
    margin-left: 2.369668246445498%; }
/* 268px/844px , 20px/ 844px */

/* 연락처 영역 */
.contact-section .sec-tit { float: left;
    margin-bottom: 0; }

.contact-section .form-box { float: right;
    width:74.5583038869258%;  }
/* 844/1132*100 */

.contact-section .form-box .form, 
.contact-section .form-box .textarea { width: 48.81516587677725%; }
/* 412px/844px*100 */

.contact-section .form-box .form { margin-right: 2.369668246445498%; }



}