@charset "utf-8";


body { overflow-x:hidden; 
margin: 0 auto; 

}
 
 .frame { width: 2000px; 
     height: 70px; 
     background: #fff; 
     position: relative;
     z-index: 1;
      }
 
      
 .back { 
     position: absolute;
     left: 12%;
     z-index: 1;
  }
 
 .back2 { 
     position: absolute;
     height: 80px;  
     background: #fff; 
     left: 18%; 
     z-index: 1;}
 
 .btn { background: #5e889e;
     padding: 10px 15px; 
     border-radius: 5px; 
     color: #fff; 
     font-weight: normal;
     position: absolute; 
     top: 15px;
     left: 63%; 
     z-index: 1;

     }
 
 .nav { position: absolute;
    z-index: 1;
     top:0; 
     left: 30%;
     top: 25px;

     /* margin: 25px 100px; */
  }
 
 .nav li { 
     display: inline; 
     padding-right: 30px;

     }
 
 .nav li a { 
     font-size: 16px;
     font-weight: normal;
     color:#5c5c5c;
     border-bottom: none;
     padding-bottom: 26px;
     }
 
 .nav li a:hover { color: #755562; 
     border-bottom: 1px solid #755562;}
 
 .clo {position: relative;
    width: 100%;
    height: 316px;
    top: -50px;
 }

 .clo2 { position: absolute;
    /* top: 68%; */
    z-index: 1;
    width: 100%;
    height:42%;
    
    background-image: url(../img/cloud.png);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    animation: move 60s infinite;
}
 
 @keyframes move {
     0% {
         background-position: 0% 100%;
     }
 
     50% {
         background-position: 100% 100%;
     }
 
     100% {
         background-position: 0% 100%;
     }
 }


.login h6 { position: relative;
    z-index: 1;
    font-size: 30px;
    font-weight: bold;
    color: #666; 
    text-align: center; 
    vertical-align: center;}
    
.login form { position: absolute;
    z-index: 1; 
    left: 37.5%; 
    font-size: 16px;
    font-weight: normal;
    top: 440px;
    }

input { width: 500px;
    height: 40px;
    padding: 10px 20px;
    margin: 0 0 30px; 
    padding-bottom: 10px;
    margin-top: 2px; 
    background: #f7f7f7; 
    border-color: #f7f7f7; 
    border-radius: 4px; }
      
#id, #pass, #confirm,
#email, #address, #phone  { 
    font-size: 16px;
    color: #5e889e;
    font-weight: normal; 

}

#check { position: relative;
    width: 12px;
    height: 12px; 
    float: left;
    margin-right: 10px; }

    
#check p { position: absolute;
    color: #000;
    font-size: 18px;
    font-weight: normal; }

button { position: absolute; 
    z-index: 1;
    width: 500px;
    height: 41px;
    background: #5E889E;
    border-color: #5E889E; 
    font-size: 18px;
    color: #fff; 
    top: 110%; 
    left: 37.5%;
    font-weight: normal;
    border-radius: 4px;
    cursor: pointer;
}

button a { cursor: pointer;
    color: #fff; }


button:hover { background: rgb(111, 150, 170);
    border-color: rgb(111, 150, 170); 
    }

         
.footer_inn { position: relative;
    z-index: 1;
    background: #5c5c5c;
    width: 100%;
    height: 160px;
    top: 810px;
     }
             
.txt_left p { position: absolute;
    left: 250px; 
    top: 35%;
    color: #fff; 
    font-size: 14px;
    font-weight: normal; 
    cursor: default;
    }
    
.icon_right img { width: auto;
    height: 36px;}
.icon_right li { position: relative;
    z-index: 2;
    display: inline-block;
    left: 1330px; 
    top: 62px;
    }

 