@charset "utf-8";
#admin_box{width: 1200px; margin: 0 auto; padding: 20px 0;}
#admin_box h2{border-bottom: 1px solid #777; font-size: 20px; padding-bottom: 20px; color:#555;}

#member_list{border-bottom: 1px solid #ccc; margin-bottom: 60px;}
#member_list li{padding: 10px 0; font-size: 0;}
#member_list li span{display: inline-block; vertical-align: middle; font-size: 14px; text-align: center; padding: 10px 0;}

#member_list li:first-child{font-weight: bold; border-bottom: 1px solid #777;}
#member_list li:nth-child(even){background-color: #eee;}

#member_list li span.field1{width: 60px;}
#member_list li span.field2{width: 150px;}
#member_list li span.field3{width: 150px;}
#member_list li span.field4{width: 200px;}
#member_list li span.field5{width: 200px;}
#member_list li span.field6{width: calc(100% - 960px);}
#member_list li span.field7{width: 100px;}
#member_list li span.field8{width: 100px;}

#member_list li span input{width: 90%; height: 36px; text-align: center;}
#member_list li span button{width: 80%; height: 36px; border:none; border-radius:4px; background-color: #cfcfcf;}
#member_list li span button:hover{background-color: #21bda1; color:#fff; cursor: pointer;}


#board_list{border-bottom: 1px solid #ccc; margin-bottom: 20px;}
#board_list li{padding: 10px 0; font-size: 0;}
#board_list li span{display: inline-block; vertical-align: middle; font-size: 14px; text-align: center; padding: 10px 0;}

#board_list li:first-child{font-weight: bold; border-bottom: 1px solid #777;}
#board_list li:nth-child(even){background-color: #eee;}

#board_list li span.board1{width: 60px;}
#board_list li span.board2{width: 60px;}
#board_list li span.board3{width: 150px;}
#board_list li span.board4{width: calc(100% - 750px);}
#board_list li span.board5{width: 240px;}
#board_list li span.board6{width: 240px;}

button.sel_del{padding: 10px 20px; border:none; font-size: 15px; border-radius:4px; background-color: #eee; margin-top:10px; cursor: pointer;}

button.sel_del:hover{background-color: #21bda1; color:#fff;}