@charset 'utf-8';
@import url('normalize.css');

/* 초기화 */
html, body, div, header, nav, section, article, aside, footer, figure, figcaption,
ul, ol, li, dl, dt, dd,
h1, h2, h3, h4, h5, h6, 
fieldset, legend, p { margin:0; padding:0}

ul { list-style:none;}
fieldset { border:0;}
.hidden, legend, caption {position:absolute; left:-99999em;}

/* 웹폰트 */
@font-face {
  font-family:'Nanum';
  font-weight:400;
  src: url('font/NanumGothic.eot');
  src: url('font/NanumGothic.eot?#iefix') format('embedded-opentype'),
       url('font/NanumGothic.woff') format('woff'),
       url('font/NanumGothic.ttf') format('truetype'),
}
@font-face {
  font-family:'NanumBold';
  font-weight:600;
  src: url('font/NanumGothicBold.eot');
  src: url('font/NanumGothicBold.eot?#iefix') format('embedded-opentype'),
       url('font/NanumGothicBold.woff') format('woff'),
       url('font/NanumGothicBold.ttf') format('truetype');
}
@font-face {
  font-family:'NanumExtraBold';
  font-weight:900;
  src: url('font/NanumGothicExtraBold.eot');
  src: url('font/NanumGothicExtraBold.eot?#iefix') format('embedded-opentype'),
       url('font/NanumGothicExtraBold.woff') format('woff'),
       url('font/NanumGothicExtraBold.ttf') format('truetype');
}

@font-face {
  font-family:'webcafeIcon';
  font-weight:400;
  src: url('font/webcafeIcon.eot');
  src: url('font/webcafeIcon.eot?#iefix') format('embedded-opentype'),
       url('font/webcafeIcon.woff') format('woff'),
       url('font/webcafeIcon.ttf') format('truetype'),
       url('font/webcafeIcon.svg#webcaferegular') format('svg');
}

/* 링크 스타일 */
a:link { color:#4f4f4f; text-decoration:none;}
a:visited { color:#8a8e91; text-decoration:none;}
a:hover, a:focus { color:#ff0000; text-decoration:none;}

/* 기본 스타일 */
body { color:#000000; background:#ffffff;
       font-size:0.75em; line-height:1.2; font-family:'Nanum';}

/* 건너뛰기 링크         */
#skipNav { position:absolute; left:-99999em;}
#skipNav:focus { left:50%; margin:3px 0 0  -3em; 
                padding:5px 15px; color:#ffffff; background:#000000;
                outline:0; z-index:50;}

#wrapper { background-color:#ffffff;
           background-image: url('images/bg_flower.png'), 
            linear-gradient(to bottom, #c7c7c7 0%, #ffffff 70%, #ffffff 100%); 
           background-repeat: no-repeat;
           background-position: center top;}

#header, #visual, #contentsArea, #slogan, #footerInner {
      width:940px; margin:0 auto; 
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
}

#header { position:relative; height:110px; background-color:#ffffff;
          border-radius: 0 0 15px 15px;
          padding:0 30px; }

#visual { position:relative; height:120px; } 

#contentsArea { background-color:#ffffff; 
                border-radius:15px 15px 0 0;
                padding:30px 0 30px 30px;
                min-height:400px;
                overflow:hidden;}
 /* index 레이아웃 */
 #usefulArea { float:left; width:250px; margin-right:30px;} 
 #infoArea {float:left; width:380px;margin-right:30px;}
 #linkArea {float:left; width:190px;margin-right:30px;}              

 /* sub 레이아웃 */
#contents { width:620px; float:left; margin-right:30px; }
#twitter { width:200px; float:left; margin-left:30px;}

 

#slogan { position:relative; padding:15px 0 ;}     
#footer { padding:15px 0; 
      background-image:linear-gradient(to bottom, #c7c7c7 0%, #ffffff 70%, #ffffff 100%);}      
#footerInner { position:relative; }     

/* 공통 스타일 */
/* 헤더 */
.logo  { position:absolute; top:37px; left:45px; z-index:50px;}
.infoLink { text-align:right;}
.infoLink li { display:inline-block;}
.infoLink a { display:inline-block; padding:8px 0 7px 3px;}
.infoLink a:before { content:":"; padding-right:8px; }
.infoLink :first-child a:before { content:"";}

.mainMenu { border-top: 2px solid #000000;
            border-radius: 0 0 5px 5px;
background-image:linear-gradient(to bottom, #ffc848 0%,#ff8208 40%, #ff8208 60%, #ffc848 100% ); padding-left:200px;}

.mainMenu li, .mainMenu a { display:inline-block;}


.mainMenu > li > a { font-family:'NanumExtraBold'; font-size:14px; 
        letter-spacing:1px; padding:15px 20px 14px; color:#ffffff;
        border-left:1px solid #ffffff;
        text-shadow: 1px 0 rgba(0,0,0,0.2), -1px 0 rgba(0,0,0,0.2), 
                    0 1px rgba(0,0,0,0.2), 0 -1px rgba(0,0,0,0.2);} 
 
.mainMenu > li> a:hover, .mainMenu > li > a:focus { color:#ffff00;}

.mainMenu > li > a:hover:after, .mainMenu > li > a:focus:after { content:""; display:block; width:100%; height:2px; background:#000000; position:relative; top:12px; }

.mainMenu > li { position:relative; }

.mainMenu > li:hover ul, .mainMenu > li > a:focus + ul { display:block;}

.mainMenu ul { position:absolute; z-index:50; white-space:nowrap; }

.mainMenu ul a { padding:8px 0 7px 15px;}

.mainMenu ul a:before { font-family:webcafeIcon;
      content:'r'; color:#666666; position:relative; top:2px;}

.mainMenu ul a:hover:before, .mainMenu ul a:focus:before { content:'c'; color:#ff0000;}

.aboutHtml { display:none;}
.aboutCss { display:none;}
.webStandard { display:none;}
.webAccessibility { display:none; left:-140px;}
.qna { display:none; left:-165px}
.archive { display:none; left:-350px;} 

/* 비주얼 텍스트 애니메이션 */
@keyframes textAni { 
      0% { font-size:12px; top:0; left:0; opacity:0.2;}
      100% { font-size:24px; top:65px; left:400px; opacity:1;}
}

#visual p { font-family:Georgia, serif;
            font-size:24px; font-weight:bold;
            animation:textAni 1s; position:absolute; top:65px; left:400px;}

/* 비주얼 배경 애니메이션 */
@keyframes flowerAni{
      0% {opacity:1;}
      100% { opacity:0;}
}

#visual:before, #visual:after {
      position:absolute; top:-20px; left:0;
      width:100%; height:140px; content:"";
      animation:flowerAni 2s;
      animation-direction:alternate;
      animation-iteration-count:infinite;
      animation-timing-function:ease-in-out;      
}

#visual:before { background-image: url('images/ani_flower_01.png'), url('images/ani_flower_02.png');
background-repeat:no-repeat; background-position:0 5px, 670px 0;} 

#visual:after { background-image: url('images/ani_flower_03.png'), url('images/ani_flower_04.png');
background-repeat:no-repeat; background-position:300px 35px, 800px 65px;}

/* 슬로건 */
#slogan h1 { width:110px; height:90px;
      background: url('images/coffee.png') no-repeat;
      background-size:110px 90px;
      white-space:nowrap; overflow:hidden; text-indent:110px;
      position:absolute; bottom:-25px; left:30px;}

#slogan p { margin:0 100px 0 200px; color:#a09784; font-size:13px;}
#slogan q { font-weight:bold;}
#slogan q:before { font-size:36px; position:relative; top:15px; left:-5px; color:#765725;}
#slogan q:after { content:"";}

/* 푸터 */
.guide, address, .copyright { margin-left:200px; margin-right:100px;}
.footerLogo { position:absolute; left:35px; top:45px;}

.guide { background:#7b8386; border-radius:5px; padding-left:20px;
         margin-bottom:10px;}
.guide li { display:inline-block; }
.guide a { display:inline-block; padding:10px 15px 10px 0; color:#ffffff;}
.guide a:before { content:'|'; padding-right:20px;}
.guide :first-child a:before {content:'';}

address { font-style:normal; margin-bottom:5px;}
address span { margin-right:10px;}
.techLogoArea { position:absolute; top:0; right:0;}